{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <p>aaaaaaa</p>
    <p>aaaaaaa</p>
</div>
<div class="card p-3 bg-light text-red m-5">
    <div class="row">
        <div class="col-3">           
            <img src="{% static 'images/end-game.jpg' %}" style="width: 200px;"/>
        </div>
        <div class="col-7 align-self-center">
            <h1>Avengers End Game</h1>
            <h5>Story Line</h5>
            <p style="text-align: justify;">After the devastating events of Avengers: Infinity War (2018), the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos's actions and undo the chaos to the universe, no matter what consequences may be in store, and no matter who they face..</p>
        </div>
        <div class="col-2 align-self-center">
            <h1>Rp50000</h1>
            <button style="width:150px;">BUY</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">           
            <img src="{% static 'images/five-feet-apart.jpg' %}" style="width: 200px;"/>
        </div>
        <div class="col-7 align-self-center">
            <h1>Five Feet Apart</h1>
            <h5>Story Line</h5>
            <p style="text-align: justify;">Seventeen-year-old Stella spends most of her time in the hospital as a cystic fibrosis patient. Her life is full of routines, boundaries and self-control all of which get put to the test when she meets Will, an impossibly charming teen who has the same illness. There's an instant flirtation, though restrictions dictate that they must maintain a safe distance between them. As their connection intensifies, so does the temptation to throw the rules out the window and embrace that attraction. Love has no boundaries.</p>
        </div>
        <div class="col-2 align-self-center">
            <h1>Rp50000</h1>
            <button style="width:150px;">BUY</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">           
            <img src="{% static 'images/friendzone.jpg' %}" style="width: 200px;"/>
        </div>
        <div class="col-7 align-self-center">
            <h1>Friendzone</h1>
            <h5>Story Line</h5>
            <p style="text-align: justify;">For 10 years, Palm has been stuck in the friend zone with his best friend, Gink. He has had feelings for her since high school and even tried confessing to her then but she rejected him, saying that being friends was enough. Over the years, they grow closer to each other. Whenever Palm breaks up with his countless girlfriends, Gink will tell him off.

                As for Gink, whenever she fights with her boyfriend, it doesn`t matter which country she is in at the time, Palm will use his perks as a flight attendant to fly to her the moment she gives him a call.</p>
        </div>
        <div class="col-2 align-self-center">
            <h1>Rp50000</h1>
            <button style="width:150px;">BUY</button>
        </div>
    </div>
</div>
{% endblock content %}